.lab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 30px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #070707;
}

.lab-nav a {
    padding: 8px 14px;
    text-decoration: none;
    background: #fde3ec;
    color: #100f10;
    border-radius: 5px;
}

.lab-nav a:hover {
    background: #2b2a2b;
    color: rgb(247, 157, 195);
}

body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    margin-top: 30px;
}

p {
    line-height: 1.6;
}

#chart {
    margin-top: 30px;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 14px;
    text-decoration: none;
    background: #e7e5e6;
    color: #100f10;
    border-radius: 5px;
}

.back-home:hover {
    background: #2b2a2b;
    color: rgb(254, 171, 205);
}


/* ----------------------------------------
Lab 2
---------------------------------------- */

.tooltip {
position: absolute;
background: white;
border: 1px solid #aaa;
padding: 8px 10px;
border-radius: 4px;
pointer-events: none;
opacity: 0;
font-size: 14px;
}

.axis-label {
font-size: 14px;
font-weight: bold;
}

.chart-title {
font-size: 18px;
font-weight: bold;
}

.city-label {
font-size: 11px;
}

.legend-title {
font-size: 14px;
font-weight: bold;
}

.legend-item text,
.population-item text {
font-size: 13px;
}

.city-point {
stroke-width: 1px;
}

.city-point:hover {
cursor: pointer;
}
